extends layout

block pageTitle
    title='Impressum'

block content
    .jumbotron
        h1 Impressum

    .imprint-text

        h2 Angaben gemäß §&nbsp;5 Telemediengesetz
        p

            | Florian Schwarz
            br 
            | Altvaterring 3
            br 
            | 86415 Mering
            br
            br
            | crowtech1322 at gmail.com


        h2 Datenschutzerklärung

        h3 Allgemein

        p
            | Die Nutzung dieser Seite ist ohne eine Angabe von personenbezogenen Daten möglich. Für die Nutzung einzelner Services unserer Seite können sich hierfür abweichende Regelungen ergeben, die in diesem Falle nachstehend gesondert erläutert werden. Ihre personenbezogenen Daten (z.B. Name, Anschrift, E-Mail, Telefonnummer, u.ä.) werden von uns nur gemäß den Bestimmungen des deutschen Datenschutzrechts verarbeitet. Daten sind dann personenbezogen, wenn sie eindeutig einer bestimmten natürlichen Person zugeordnet werden können. Die rechtlichen Grundlagen des Datenschutzes finden Sie im Bundesdatenschutzgesetz (BDSG) und dem Telemediengesetz (TMG). Nachstehende Regelungen informieren Sie insoweit über die Art, den Umfang und Zweck der Erhebung, die Nutzung und die Verarbeitung von personenbezogenen Daten durch den Anbieter Florian Schwarz.
            br
            br
            | Wir weisen darauf hin, dass die internetbasierte Datenübertragung Sicherheitslücken aufweist, ein lückenloser Schutz vor Zugriffen durch Dritte somit unmöglich ist.

        h3 Cookies

        p
            | Wir verwenden auf unserer Seite sog. Cookies zum Wiedererkennen mehrfacher Nutzung unseres Angebots, durch denselben Nutzer/Internetanschlussinhaber. Cookies sind kleine Textdateien, die Ihr Internet-Browser auf Ihrem Rechner ablegt und speichert. Sie dienen dazu, unseren Internetauftritt und unsere Angebote zu optimieren. Es handelt sich dabei zumeist um sog. "Session-Cookies", die nach dem Ende Ihres Besuches wieder gelöscht werden.
            Teilweise geben diese Cookies jedoch Informationen ab, um Sie automatisch wieder zu erkennen. Diese Wiedererkennung erfolgt aufgrund der in den Cookies gespeicherten IP-Adresse. Die so erlangten Informationen dienen dazu, unsere Angebote zu optimieren und Ihnen einen leichteren Zugang auf unsere Seite zu ermöglichen.
            Sie können die Installation der Cookies durch eine entsprechende Einstellung Ihres Browsers verhindern; wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen unserer Website vollumfänglich nutzen können.

        h3 Serverdaten

        p 
            | Aus technischen Gründen werden u.a. folgende Daten, die Ihr Internet-Browser an uns bzw. an unseren Webspace-Provider übermittelt, erfasst (sogenannte Serverlogfiles): 

            ul
                li='Browsertyp und -version'
                li='verwendetes Betriebssystem'
                li='Webseite, von der aus Sie uns besuchen (Referrer URL)'
                li='Webseite, die Sie besuchen'
                li='Datum und Uhrzeit Ihres Zugriffs'
                li='Ihre Internet Protokoll (IP)-Adresse'


            | Diese anonymen Daten werden getrennt von Ihren eventuell angegebenen personenbezogenen Daten gespeichert und lassen so keine Rückschlüsse auf eine bestimmte Person zu. Sie werden zu statistischen Zwecken ausgewertet, um unseren Internetauftritt und unsere Angebote optimieren zu können.


        h3 Kommentarmöglichkeit

        p 
            | Wir bieten Ihnen auf unserer Seite die Möglichkeit, Kommentare zu den einzelnen Beiträgen zu hinterlassen. Hierbei wird die IP- Adresse des Verfassers/Anschlussinhabers gespeichert. Diese Speicherung erfolgt zu unserer Sicherheit für den Fall, dass vom Verfasser durch seinen Kommentar hierbei in Rechte Dritter eingegriffen wird und/oder widerrechtliche Inhalte abgesetzt werden. Somit besteht ein Eigeninteresse unsererseits an den gespeicherten Daten des Verfassers, zumal wir unter Umständen wegen derartigen Rechtsverletzungen belangt werden können. Eine Weitergabe an Dritte erfolgt nicht. Ein Abgleich der so erhobenen Daten mit Daten, die möglicherweise durch andere Komponenten unserer Seite erhoben werden, erfolgt ebenfalls nicht.


        h3 Abonnement von Kommentaren

        p 
            | Wir bieten Ihnen auf unserer Seite die Möglichkeit, nachfolgende Kommentare zu einem Beitrag, zu dem Sie im Begriff sind, einen Kommentar zu verfassen, zu abonnieren. Wenn Sie sich für diese Möglichkeit entscheiden, erhalten Sie eine Bestätigungs-E-Mail, mit der überprüft wird, ob Sie auch tatsächlich der Inhaber der angegebenen E-Mail-Adresse sind. Die Entscheidung zum Abonnement von derartigen Nachfolgekommentaren kann jederzeit wieder abbestellt werden. Einzelheiten hierzu können Sie der Bestätigungsmail entnehmen. Eine Weitergabe der so erlangten Daten an Dritte erfolgt nicht. Ein Abgleich der so erhobenen Daten mit Daten, die möglicherweise durch andere Komponenten unserer Seite erhoben werden, erfolgt ebenfalls nicht.

        h3 Einsatz von AddThis

        p 
            | Wir setzen auf unserer Website den Bookmark-Dienst addthis.com ein. AddThis ist ein Service der Clearspring Technologies Inc., 8000 Westpark Drive, Suite 625, McLean, VA 2210, USA. Bei jedem einzelnen Abruf unserer Webseite, die mit einer solchen „AddThis“-Komponente ausgestattet ist, veranlasst diese Komponente, dass der von Ihnen verwendete Browser eine entsprechende Darstellung der Komponente von addthis.com herunterlädt. Durch diesen Vorgang wird addthis.com darüber in Kenntnis gesetzt, welche konkrete Seite unseres Internetauftrittes durch Sie gerade besucht wird.  Weiter erhält addthis.com Kenntnis über Ihre IP-Adresse, den Browsertyp, die Browsersprache, die zuvor aufgerufene Webseite sowie das Datum sowie die Uhrzeit Ihres Webseitenbesuchs, um mit diesen Daten anonymisierte Nutzerprofile zu erstellen. Diese Daten ermöglichen es AddThis und dessen Partner-Unternehmen, die Besucher unserer Internetseite gezielt mit personalisierter, interessenbezogener Werbung anzusprechen. Die Einblendung der Werbemittel erfolgt dabei auf Basis des durch addthis.com gesetzten Browser-Cookie, das das Nutzungsverhalten des Webseitensbesuchers analysiert. Sie können der Setzung des addthis.com Cookies dauerhaft widersprechen, indem Sie den unter folgendem Link verfügbaren Opt-Out-Cookie herunterladen und installieren: http://www.addthis.com/privacy/opt-out.
            br
            br
            | Wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen unserer Website vollumfänglich nutzen können.  Unter der nachstehenden Internetadresse finden Sie die Datenschutzhinweise von AddThis mit Informationen zur Erhebung und Nutzung von Daten durch AddThis: http://www.addthis.com/privacy/privacy-policy


        h3 Auskunft/Widerruf/Löschung

        p 
            | Sie können sich aufgrund des Bundesdatenschutzgesetzes bei Fragen zur Erhebung, Verarbeitung oder Nutzung Ihrer personenbezogenen Daten und deren Berichtigung, Sperrung, Löschung oder einem Widerruf einer erteilten Einwilligung unentgeltlich an uns wenden. Wir weisen darauf hin, dass Ihnen ein Recht auf Berichtigung falscher Daten oder Löschung personenbezogener Daten zusteht, sollte diesem Anspruch keine gesetzliche Aufbewahrungspflicht entgegenstehen.


        h3 Datenschutzerklärung für die Nutzung von Google Analytics

        p
            | Diese Website benutzt Google Analytics, einen Webanalysedienst der Google Inc. („Google“). Google Analytics verwendet sog. „Cookies“, Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse der Benutzung der Website durch Sie ermöglichen. Die durch das Cookie erzeugten Informationen über Ihre Benutzung dieser Website werden in der Regel an einen Server von Google in den USA übertragen und dort gespeichert. Im Falle der Aktivierung der IP-Anonymisierung auf dieser Website, wird Ihre IP-Adresse von Google jedoch innerhalb von Mitgliedstaaten der Europäischen Union oder in anderen Vertragsstaaten des Abkommens über den Europäischen Wirtschaftsraum zuvor gekürzt. Nur in Ausnahmefällen wird die volle IP-Adresse an einen Server von Google in den USA übertragen und dort gekürzt. Im Auftrag des Betreibers dieser Website wird Google diese Informationen benutzen, um Ihre Nutzung der Website auszuwerten, um Reports über die Websiteaktivitäten zusammenzustellen und um weitere mit der Websitenutzung und der Internetnutzung verbundene Dienstleistungen gegenüber dem Websitebetreiber zu erbringen. Die im Rahmen von Google Analytics von Ihrem Browser übermittelte IP-Adresse wird nicht mit anderen Daten von Google zusammengeführt. Sie können die Speicherung der Cookies durch eine entsprechende Einstellung Ihrer Browser-Software verhindern; wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Website vollumfänglich werden nutzen können. Sie können darüber hinaus die Erfassung der durch das Cookie erzeugten und auf Ihre Nutzung der Website bezogenen Daten (inkl. Ihrer IP-Adresse) an Google sowie die Verarbeitung dieser Daten durch Google verhindern, indem Sie das unter dem folgenden Link (
            a(href='http://tools.google.com/dlpage/gaoptout?hl=de' target='_blank') http://tools.google.com/dlpage/gaoptout?hl=de
            | ) verfügbare Browser-Plugin herunterladen und installieren.

        h2 Disclaimer

            h3 Inhalt der Webseite:

            p
                | Die Inhalte dieser Webseite wurden sorgfältig und nach aktuellem Kenntnisstand des Autors erstellt. Wir sind für diese nur im Rahmen der allgemeinen Gesetze verantwortlich, insbesondere für eigene Inhalte nach § 7 TMG, für fremde Inhalte gem. §§ 8 – 10 TMG. Als Diensteanbieter sind wir für fremde Inhalte frühestens ab Kenntniserlangung einer konkreten Rechtsverletzung verantwortlich. Wir behalten uns vor, die informatorischen Inhalte vollständig oder teilweise zu ändern oder löschen, soweit vertragliche Verpflichtungen unberührt bleiben.


             h3 Verweisung auf fremde Seiten

            p
                | Inhalte fremder Webseiten, auf die wir direkt oder indirekt verweisen (durch „Hyperlinks“, „Deeplinks“ oder „Einbetten von Iframes - Framing“), liegen außerhalb unseres Verantwortungsbereiches und machen wir uns nicht zu Eigen. Zum Zeitpunkt der Linksetzung waren für uns keine illegalen Inhalte auf den verlinkten Webseiten erkennbar. Da wir auf die aktuelle und zukünftige Gestaltung die Inhalte der verlinkten Webseiten keinerlei Einfluss haben, distanzieren wir uns ausdrücklich von allen Inhalten verlinkter Webseiten, die nach der Linksetzung verändert wurden. Für alle Inhalte und insbesondere für Schäden, die aus der Nutzung der in den verlinkten Webseiten aufrufbaren Informationen entstehen, haftet allein der Anbieter der Seite, auf welche verlinkt wurde. Erhalten wir von illegalen, rechtswidrigen oder fehlerhaften Inhalten auf Webseiten Kenntnis, die wir verlinken, werden wir die Verlinkung aufheben.

            h3 Urheberrechte

            p
                | Alle auf dieser Webseite dargestellten Inhalte, also insbesondere Texte, Bilder, Fotos, grafische Darstellungen, Musiken, Marken, Warenzeichen, unterliegen den Normen des deutschen Urheberrechts. Die Verwendung, Vervielfältigung usw. unterliegt den Rechten der jeweiligen Urheber bzw. Rechteverwalter. Wenn Sie solche Werke verwenden wollen, werden wir auf Anfrage gerne den Kontakt zum jeweiligen Urheber/Rechteverwalter herstellen
 
            h3 Allgemeine Gleichstellung

            p
                | In den Texten wird meist nur eine Geschlechtsform gewählt um eine bessere Lesbarkeit zu gewährleisten. Davon unbeeinflusst beziehen sich die Angaben dieser Webseite auf alle Geschlechter.
                br
                br
                | Dieser Muster-Disclaimer für Webseiten wurde erstellt von der Anwaltskanzlei Viola Lachenmann, http://www.kanzlei-lachenmann.de/.




            
