extends layout

block pageTitle
    title='Video'

block og
    meta(property="og:title" content="video title")
    meta(property="og:description" content="IpRaven video description. This is a dummy text")
    //meta(property="og:image" content="http://img.youtube.com/vi/#{youtubeId}/0.jpg")
    meta(property="og:url" content="http://www.ipraven.com/yt/#{youtubeId}")
    

block content
    .container-fluid
        .videoWrapper
            iframe(width="1280" height="720" src="https://www.youtube.com/embed/#{youtubeId}?showinfo=0" frameborder="0" allowfullscreen)
        //.info-box
        //    p
        //        a(href="https://www.youtube.com/watch?v=#{youtubeId}" target="_blank") Youtube Link
        .addThisPlugin
            .addthis_sharing_toolbox
            script(type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-55c7629069739f24" async="async")

    .container-fluid

        a(class="muut" href="https://muut.com/i/ipraven/comments/#{youtubeId}" type="dynamic") ipraven forum

     
    //script(src='/scripts/test.js')
    script(src='//cdn.muut.com/1/moot.min.js')




